<div >
  <div class="text-center my-3">
    <h4 class="display-6">All Loans</h4>
  </div>
  <div class="card shadow-sm p-4">
    <table class="table table-bordered table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">User Name</th>
          <th scope="col">Principal Amount</th>
          <th scope="col">Total Repay Amount</th>
          <th scope="col">Interest Rate (%)</th>
          <th scope="col">Status</th>
          <th scope="col">Approved At</th>
          <th scope="col">Opened At</th>
          <th scope="col">Closed At</th>
        </tr>
      </thead>

      <tbody>
        <% if @loans.any? %>
          <% @loans.each_with_index do |loan, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= link_to loan.user.name, admin_loan_path(loan), class: "text-decoration-none" %></td>
              <td>₹<%= loan.principal_amount %></td>
              <td>₹<%= loan.total_repaid_amount %></td>
              <td><%= loan.interest_rate %>%</td>
              <td>
                <span class="badge 
                  <%= case loan.state
                      when "approved" then 'bg-success'
                      when "requested" then 'bg-warning text-dark'
                      when "rejected" then 'bg-danger'
                      when "closed" then 'bg-secondary'
                      else 'bg-info'
                  end %>">
                  <%= loan.state.humanize %>
                </span>
              </td>
              <td><%= loan.approved_at.strftime("%d %b %Y") if loan.approved_at %></td>
              <td><%= loan.opened_at.strftime("%d %b %Y") if loan.opened_at %></td>
              <td><%= loan.closed_at.strftime("%d %b %Y") if loan.closed_at %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="9" class="text-center text-muted py-3">No loan present</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
