      <div>
        <br>
        <h1 class='text-center'>All Loans</h1>

        <div class="card shadow p-4">
          <%# button_to "Add New loan and Tickets", new_loan_path, method: :get, class: "btn btn-dark mb-3" %>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">User Name</th>
                <th scope="col">Princpal Amount</th>
                <th scope="col">Total Repay Amount</th>
                <th scope="col">Intrest Rate</th>
                <th scope="col">Status</th>
                <th scope="col">Approved At</th>
                <th scope="col">Opened At</th>
                <th scope="col">Closed At</th>
              </tr>
            </thead>

            <tbody>

              <% if @loans.any? %>
                <% @loans.each_with_index do |loan, index| %>
                  <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= link_to loan.user.name, admin_loan_path(loan) %></td>
                    <td><%= loan.principal_amount %></td>
                    <td><%= loan.total_repaid_amount %></td>
                    <td><%= loan.interest_rate %></td>
                    <td><%= loan.state %></td>
                    <td><%= loan.approved_at.strftime("%d %b %Y ") %></td>
                    <td><%= loan.opened_at.strftime("%d %b %Y ") %></td>
                    <td><%= loan.closed_at.strftime("%d %b %Y ") %></td>
                    <%# <td> %>
                      <%# link_to "Show", loan, class: "btn btn-primary btn-sm" %>
                      <%# link_to "Edit", edit_loan_path(loan), class: "btn btn-primary btn-sm" %>

                      <%# button_to "Delete", loan, method: :delete, class: "btn btn-primary btn-sm" %>
                    <%# </td> %>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="8" class="text-center">
                    No loan present
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>