<h1>Request a New Loan</h1>

<%= form_with model: [:user, @loan] do |f| %>
  <div>
    <%= f.label :principal_amount, "Loan Amount" %>
    <%= f.number_field :principal_amount, required: true %>
  </div>

  <div>
    <%= f.label :interest_rate, "Interest Rate (%)" %>
    <%= f.number_field :interest_rate, step: 0.1, required: true %>
  </div>

  <%= f.submit "Submit Request" %>
<% end %>
