<h2>Request a New Loan</h2>

<%= form_with model: @loan do |f| %>
  <div>
    <%= f.label :principal_amount %>
    <%= f.number_field :principal_amount, step: 0.01 %>
  </div>

  <div>
    <%= f.label :interest_rate, "Interest Rate (%)" %>
    <%= f.number_field :interest_rate, step: 0.01 %>
  </div>

  <%= f.submit "Submit Request" %>
<% end %>